.layout {
  display: flex;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(180deg, #1e1e1e 0%, #121212 100%);
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px 32px;
  padding-bottom: 120px;
}
